<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">

<h1 class="welcome">WELCOME BACK TO "Recipes from the heart"</h1>
<h1 class="welcome">Please log in!</h1>
<form id="login" name="login" method="POST" action="/users/login">
    <div class="inputBackground">
        <label for="name">Username: </label>
        <input type="text" name="Username" required>
    </div>
    <div class="inputBackground">
        <label for="name">Password: </label>
        <input type="text" name="Password" required>
    </div>
    <div class="inputBackground">
        <button type="submit">Submit</button>
    </div>
</form>
<br>
<a class="aB" href="/users/signup">New User? Signup!</a>